<?xml version="1.0"?>
<configuration scan="true" scanPeriod="30 seconds">
    <!-- 日志保存目录(定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径) -->
    <property name="logDir" value="/ssm/logs"/>

    <!-- 控制台日志 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder  class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%F-%M:%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 所有日志 -->
    <!-- 按照每天生成日志文件 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%F-%M:%L] - %msg%n</pattern>
        </encoder>

        <file>${logDir}/log.txt</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <fileNamePattern>${logDir}/log_%d{yyyyMMdd}.log</fileNamePattern>
            <!--日志文件保留天数-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <!--日志文件最大的大小-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!-- 错误日志: 级别大于等于 WARN 的日志再次写入错误日志文件 -->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>

        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%F-%M:%L] - %msg%n</pattern>
        </encoder>

        <file>${logDir}/log_error.txt</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/log_error_%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 根日志对象 -->
    <root level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
        <appender-ref ref="error"/>
    </root>

    <!-- 控制每一个包的日志级别 -->
    <logger name="org.apache.ibatis.io" level="off"/>
    <logger name="org.springframework"  level="info"/>
    <logger name="org.mybatis"          level="off"/>
    <logger name="ssm.mapper"           level="debug"/>
    <logger name="org.mongodb.driver"   level="info"/>
    <logger name="org.thymeleaf"        level="info"/>
    <logger name="org.apache.activemq"  level="info"/>
    <logger name="org.apache.zookeeper" level="info"/>
</configuration>
