<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 非常重要：必须是 Mapper 类的全路径-->
<mapper namespace="ssm.mapper.DemoMapper">
    <select id="toHelloPage" resultType="Student">
        SELECT id studentId, user_name userName, sex, age, nick_name nickName FROM student
    </select>

    <!-- 保存题目批改结果 -->
    <insert id="toHelloPages">
        INSERT INTO student (id, user_name, nick_name ,sex, age, create_time)
        VALUES (#{studentId}, #{userName}, #{nickName}, #{sex}, #{age},now())

        ON DUPLICATE KEY
        UPDATE user_name = #{userName}, nick_name = #{nickName}, sex = #{sex}, age = #{age}
    </insert>

    <!-- 保存英雄 -->
    <insert id="insertZero">
        INSERT INTO hero (id, english_name, china_name ,hero_title, tags, image)
        VALUES (#{key}, #{id}, #{name}, #{title}, #{tags},#{image})

        ON DUPLICATE KEY
        UPDATE english_name = #{id}, china_name = #{name}, hero_title = #{title}, tags = #{tags}, image = #{image}
    </insert>

    <!-- 查询英雄 -->
    <select id="findZero"  resultType="Zero">
        SELECT id, english_name `key`, china_name name, hero_title title, tags, image FROM hero
    </select>
</mapper>
